{% macro jpg(name, alt='Image') %}
<img
  src="images/{{ name }}-1800.jpg"
  srcset="images/{{ name }}-400.jpg 400w, images/{{ name }}-800.jpg 800w, images/{{ name }}-1200.jpg 1200w, images/{{ name }}-1800.jpg 1800w"
  alt="{{ alt }}"
/>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8">
        <title></title>
        {% if env == 'production' %}
        <link href="css/main-app.css" rel="stylesheet">
        {% endif %}

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">
        <link href="https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/5dcfe68665.js"></script>

        <!-- jQuery -->
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
    </head>

    <body>

      <article class="container">

        <div class="headline">Judging the Judges</div>
        <a href="linktopage"><div class="landing">Read the series</div></a>

        <div class="intro">
          <p>This is my intro paragraph.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere in sapien sit amet malesuada.
          Ut mollis venenatis vehicula. Sed gravida augue in mollis posuere. Morbi id feugiat ex.
          Phasellus maximus nunc magna, eget auctor nunc porttitor eu.</p>
          <p>In hac habitasse platea dictumst. Sed hendrerit ultricies magna, sit amet tristique tellus euismod vitae. Suspendisse potenti.
          Praesent semper arcu in dictum mattis. Donec eget lobortis nisi. Fusce in tincidunt purus.
          Morbi dui neque, bibendum vitae dui non, tincidunt blandit metus. Donec dictum mauris non blandit iaculis.</p>
        </div>
        {%include "partials/_buttons.html"%}

        {%include "partials/_judge.html"%}
        <!-- {%include "partials/_mapbox.html"%} -->
      </article>
    </body>
</html>


{% block js %}
<script type="text/javascript" src="js/main-app.bundle.js"></script>

{% endblock %}
