{% macro jpg(name, alt='Image') %}
<img
  src="images/{{ name }}-1800.jpg"
  srcset="images/{{ name }}-400.jpg 400w, images/{{ name }}-800.jpg 800w, images/{{ name }}-1200.jpg 1200w, images/{{ name }}-1800.jpg 1800w"
  alt="{{ alt }}"
/>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8">
        <title></title>
        {% if env == 'production' %}
        <link href="css/main-app.css" rel="stylesheet">
        {% endif %}

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">
        <link href="https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/5dcfe68665.js"></script>

        <!-- jQuery -->
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
    </head>

    <body>

      <article class="container">

        <div class="headline">
          <div class="pic">
            <img src="https://res.cloudinary.com/stephens-media/image/upload/c_scale,w_320/v1573251646/JudgingJudgesillo_iconblue.png">
          </div>
          <div class="judging">Judging</div>
          <div class="the">the</div>
          <div class="judges">Judges</div>
        </div>

        <div class="landing"><a href="linktopage">Read the 2019 Findings</a></div>

        <div class="intro">
          <p>The 2019 Judicial Performance Evaluation, sponsored by the Las Vegas Review-Journal,
            asked Clark County lawyers to rate 89 judges. The newspaper partnered with the Women’s
            Research Institute of Nevada and the UNLV Cannon Survey Center to process the results.
            The “retention score” represents the percentage of respondents who answered “yes”
            when asked whether the judge should be retained on the bench.
            To calculate each judge’s “summary score,” researchers funneled the average answer for each of
            the survey’s performance-related questions into evenly weighted categories, then determined each category’s average.
            The final across-the-board score then was calculated using those category averages,
            resulting in the final weighted average — a score between 1 and 5.</p>
        </div>
        {%include "partials/_buttons.html"%}

        {%include "partials/_judge.html"%}
      </article>
    </body>
</html>


{% block js %}
<script type="text/javascript" src="js/main-app.bundle.js"></script>

{% endblock %}
