.container {
max-width: 1200px;
margin: auto;
font-family: 'Raleway',sans-serif;
}

.judge {
  border-bottom: 10px solid black;
  margin: 3em auto;

  .first {
    max-width: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;

    img { width: 100%; }
  }

  .second {
    height: 180px;
    position: relative;
    display: inline-block;
    width: calc((100% - 135px)/2);

    .court {
      font-weight: 900;
      text-transform: uppercase;
    }

    .name {
      font-weight: 900;
      font-size: 2em;
      text-transform: uppercase;
      padding: 0.4em 0;
    }
    .retnum {
      padding: 0.5em 0;
      position: absolute;
      bottom: 0;
      font-style: italic;
    }
  }

  .third {
    display: inline-block;
    width: calc((100% - 144px)/2);
    font-weight: 900;

    text-align: right;

    .rating, .retention  {
      display: inline-block;
      text-align: center;
      padding: 0 15px;

      .tease { font-size: 0.9em; text-transform: uppercase; letter-spacing: 1px; }
      .tease2 { font-size: 0.9em; font-weight: normal; font-style: italic; }

      .num {
        font-size: 3em;
        &.red { color: red; }
        &.green { color: green; }
      }
    }


    .rating {
      border-right: 1px solid #ccc;
    }
  }

  .name {
    font-weight: 900;
    font-size: 2em;
  }
}

.summarybox {
  .survey {
    color: white;
    background-color: black;
    font-weight: 900;
    padding: 0.5em;
  }

  .summQuestion {
    border-bottom: 1px solid black;
    margin: 0.5em 0;
    padding-bottom: 5px;

    .summ {
      color: white;
      background-color: black;
      font-weight: bold;
      display: inline-block;
      padding: 3px 5px;
    }

    .question {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .summQuestion:last-child {
    border: none;
  }

}


.summaryToggle {
  text-align: center;
  background-color: red;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  padding: 4px;
  clear: both;

  .minimize { display: none; }
}

.prevSurvey {
  text-transform: uppercase;
  font-weight: 900;
  padding: 1em 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 5px;

  .label {
    background-color: #333333;
    color: white;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin-right: 10px;
  }

  .ret {
    display: inline-block;

    .num {
      vertical-align: middle;
      font-size: 2em;
      margin-right: 7px;
      &.green { color: green; }
      &.red { color: red; }
    }

   .tease3 {
     color: black;
     vertical-align: middle;
     text-transform: uppercase;
     letter-spacing: 1px;
   }
  }
}
