.container {
max-width: 1200px;
margin: auto;
font-family: 'Raleway',sans-serif;
}

.judge {
  border-bottom: 10px solid black;
  margin: 0.2em auto 3em auto;

  .first {
    max-width: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;

    img { width: 100%; }

    @media only screen and (max-width: 600px) {
      float: none;
      margin: 0 auto 10px auto;
    }
  }


  .second {
    height: 180px;
    position: relative;
    display: inline-block;
    width: calc((100% - 135px)/2);

    .court {
      font-weight: 900;
      text-transform: uppercase;
    }

    .name {
      font-weight: 900;
      font-size: 2em;
      text-transform: uppercase;
      padding: 0.4em 0;
    }
    .retnum {
      padding: 0.5em 0;
      position: absolute;
      bottom: 0;
      font-style: italic;
      @media only screen and (max-width: 600px) {
        position: relative;
      }
    }

    @media only screen and (max-width: 600px) {
      height: auto;
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  .third {
    display: inline-block;
    width: calc((100% - 144px)/2);
    font-weight: 900;

    text-align: right;

    .rating, .retention  {
      display: inline-block;
      text-align: center;
      padding: 0 15px;

      .tease { font-size: 0.9em; text-transform: uppercase; letter-spacing: 1px; }
      .tease2 { font-size: 0.9em; font-weight: normal; font-style: italic; }

      .num {
        font-size: 3em;
        &.red { color: red; }
        &.green { color: green; }
      }

      @media only screen and (max-width: 600px) {
        padding: 0 10px;
        margin-bottom: 10px;
      }
    }


    .rating {
      border-right: 1px solid #ccc;
    }

    @media only screen and (max-width: 600px) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .name {
    font-weight: 900;
    font-size: 2em;
  }
}

.summarybox {
  clear: both;
  display: none;
  .survey {
    color: white;
    background-color: black;
    font-weight: 900;
    padding: 0.5em;
  }

  .summQuestion {
    border-bottom: 1px solid black;
    margin: 0.5em 0;
    padding-bottom: 5px;

    .summ {
      color: white;
      background-color: black;
      font-weight: bold;
      display: inline-block;
      padding: 3px 5px;
      width: 40px;


      i:active { color: red; }
      i.fa-caret-up { display: none; }
    }

    .summ { cursor: pointer; }
    .summ:hover { color: red; }

    .question {
      display: inline-block;
      margin-left: 5px;

      @media only screen and (max-width: 600px) {
        display: inline;
        line-height: 1.5em;
      }
    }
  }

  .summQuestion:last-child {
    border: none;
  }

}

.stats {
  background-color: #ddd;
  margin-top: 10px;
  display: none;

  .statsNum {
    display: inline-block;
    padding: 1em;
    text-align: center;

    .category {
      font-weight: bold;
      display: block;
    }
    @media only screen and (max-width: 600px) {
      padding: 0.5em;
    }
  }

  .statsHeader {
    margin-left: 1em;
    padding-top: 0.5em;
    font-weight: 900;
  }

  .sampleSize {
    float: right;
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-style: italic;

    @media only screen and (max-width: 600px) {
      float: none;
      text-align: right;
      margin-left: 0;
      padding: 0.5em;
    }
  }


}


.summaryToggle {
  text-align: center;
  background-color: #333333;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  padding: 4px;
  clear: both;
  margin-bottom: 1em;

  .minimize { display: none; }
}

.summaryToggle:hover {
  cursor: pointer;
  background-color: #717171;
}

.prevSurvey {
  text-transform: uppercase;
  font-weight: 900;
  padding: 1em 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 5px;

  .label {
    background-color: #333333;
    color: white;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin-right: 10px;
  }

  .ret {
    display: inline-block;

    .num {
      vertical-align: middle;
      font-size: 2em;
      margin-right: 7px;
      &.green { color: green; }
      &.red { color: red; }
      @media only screen and (max-width: 600px) {
        float: left;
      }
    }

   .tease3 {
     color: black;
     vertical-align: middle;
     text-transform: uppercase;
     letter-spacing: 1px;
   }

   @media only screen and (max-width: 600px) {
     margin: 10px auto;
   }
  }
}


///////// BUTTONS /////////

.buttonHolder { position: relative; }

.sort {
  background-color: #333333;
  color: white;
  display: inline-block;
  font-weight: 900;
  padding: 0.3em 0.5em;
  border-radius: 5px;

  i {
    margin-left: 10px;
    padding: 5px 9px;
    background-color: #5f5f5f;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
   }

   i:hover {
     background-color: #63b8fb;
   }
   i.selected {
     background-color: #63b8fb;
   }
}

.topsorts {
  background-color: #333333;
  text-align: right;
  margin-top: 2em;
}

.namesearch { width: 80%; }
.search {
  margin: 0.5em 0 0 0;

  .fa-times-circle {
    cursor: pointer;
    color: #1a7cc9;
    font-size: 1.5em;
  }
  .fa-times-circle:hover { color: #2993e6; }
}

.headline {
  font-weight: 900;
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0.5em;
}

.courtFilter {
  font-weight: 900;
  font-size: 1.5em;
}

.courtbutton {
  background-color: #dadada;
  margin: 0.2em 0.2em 0.2em 0;

  &.selected { background-color: #333333; }
}

.courtbutton:hover { background-color: #333333; }

.numJudges {
  display: inline-block;
  font-style: italic;
}



.entryHolder {
  height: 200px;
  visibility: hidden;
  overflow-y: auto;
  width: 71%;
  margin-left: 103px;
  position: absolute;
  z-index: 10;

  .entry {
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
    padding: 5px;
  }

  .entry:hover { background-color: #ffffff; }
  @media only screen and (max-width: 600px) {
    margin-left: 0;
  }
}

.restOfButtons {  }
