.container {
max-width: 1000px;
margin: auto;
padding: 10px;
font-family: 'Raleway',sans-serif;

.landing {
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  width: 200px;
  margin: auto;
  background-color: gray;
  border-radius: 5px;
  color: white;

  a { text-decoration: none; color: white; }
}
.landing:hover { color: #2993e6; }



.intro { line-height: 1.7em; margin: 2em auto; font-family: "Merriweather",serif; font-size: 19px; text-align: center; }

@media only screen and (max-width: 600px) {
  padding: 5px 12px;
}
}



.judge {
  border-bottom: 10px solid black;
  margin: 0.2em auto 3em auto;

  .first {
    max-width: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;



    img { width: 100%; }

    @media only screen and (max-width: 600px) {
      float: none;
      margin: 0 auto 10px auto;
    }
  }


  .second {
    height: 180px;
    position: relative;
    display: inline-block;
    width: calc((100% - 135px)/2);

    a { color: black; cursor: auto; text-decoration: none;}

    .court {
      font-weight: 900;
      text-transform: uppercase;
      opacity: 0.5;
    }



    .name {
      font-weight: 900;
      font-size: 2em;
      text-transform: uppercase;
      padding: 0.4em 0;
    }
    .retnum {
      padding: 0.5em 0;
      // position: absolute;
      // bottom: 0;
      font-style: italic;
      @media only screen and (max-width: 600px) {
        position: relative;
      }
    }

    @media only screen and (max-width: 600px) {
      height: auto;
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  .third {
    display: inline-block;
    width: calc((100% - 144px)/2);
    font-weight: 900;

    text-align: right;

    .rating, .retention  {
      display: inline-block;
      text-align: center;
      padding: 0 15px;

      .tease {
        font-size: 0.9em; text-transform: uppercase; letter-spacing: 1px;

        @media only screen and (max-width: 330px) {
          font-size: 0.7em;
        }
      }
      .tease2 { font-size: 0.9em; font-weight: normal; font-style: italic; }

      .num {
        font-size: 3em;
        &.red { color: red; }
        &.green { color: green; }
      }

      @media only screen and (max-width: 600px) {
        padding: 0 10px;
        margin-bottom: 10px;
      }
    }


    .rating {
      border-right: 1px solid #ccc;
    }

    @media only screen and (max-width: 600px) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .name {
    font-weight: 900;
    font-size: 2em;
  }
}

.summarybox {
  clear: both;
  display: none;
  .survey {
    color: white;
    background-color: black;
    font-weight: 900;
    padding: 0.5em;

    span {
      float: right;
      font-weight: normal;
      font-style: italic;
      @media only screen and (max-width: 600px) {
        float: none;
        display: block;
        margin-top: 5px;
      }
    }
  }

  .surveyAll {
    background-color: #bbb;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 3px 10px;

    i.minimize { display: none; }
  }

  .surveyAll:hover {  background-color: #ddd; }

  .summQuestion {
    border-bottom: 1px solid black;
    margin: 0.5em 0;
    padding-bottom: 5px;

    .summ {
      color: white;
      background-color: black;
      font-weight: bold;
      display: inline-block;
      padding: 3px 5px;
      width: 50px;


      &.selected { background-color: #1a7cc9; }
      i.fa-minus-square { display: none; }
    }

    .summ { cursor: pointer; }
    .summ:hover { background-color: #1a7cc9; }

    .question {
      display: inline-block;
      margin-left: 5px;

      @media only screen and (max-width: 600px) {
        display: inline;
        line-height: 1.5em;
      }
    }
  }

  .summQuestion:last-child {
    border: none;
  }

}

.stats {
  background-color: #ddd;
  margin-top: 10px;
  display: none;

  .statsNum {
    display: inline-block;
    padding: 1em;
    text-align: center;

    .category {
      font-weight: bold;
      display: block;
      @media only screen and (max-width: 600px) {
        font-size: 0.9em;
      }
    }
    @media only screen and (max-width: 600px) {
      padding: 0.5em;
    }
  }

  .statsHeader {
    margin-left: 1em;
    padding-top: 0.5em;
    font-weight: 900;
    @media only screen and (max-width: 600px) {
      margin: 0;
      padding: 0.5em;
    }
  }

  .sampleSize {
    float: right;
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-style: italic;

    @media only screen and (max-width: 600px) {
      float: none;
      text-align: right;
      margin-left: 0;
      padding: 0.5em;
    }
  }

  @media only screen and (max-width: 600px) {
    text-align: center;
  }

}


.summaryToggle {
  text-align: center;
  background-color: #333333;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  padding: 4px;
  clear: both;
  margin-bottom: 1em;

  .minimize { display: none; }
}

.summaryToggle:hover {
  cursor: pointer;
  background-color: #717171;
}

.prevSurvey {
  text-transform: uppercase;
  font-weight: 900;
  padding: 1em 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 5px;

  .label {
    background-color: #333333;
    color: white;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin-right: 10px;
  }

  .ret {
    display: inline-block;

    .num {
      vertical-align: middle;
      font-size: 2em;
      margin-right: 7px;
      &.green { color: green; }
      &.red { color: red; }
      @media only screen and (max-width: 600px) {
        float: left;
      }
    }

   .tease3 {
     color: black;
     vertical-align: middle;
     text-transform: uppercase;
     letter-spacing: 1px;
   }

   @media only screen and (max-width: 600px) {
     margin: 10px auto;
   }
  }

  .position { display: inline-block; font-weight: normal; text-transform: none; font-style: italic; }
}

.b2top {
  font-size: 0.9em;
  text-transform: uppercase;
  display: none;
  text-align: center;
  margin-bottom: 1em;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}


///////// BUTTONS /////////

.buttonHolder { position: relative; margin-bottom: 2em;}

.sort {
  background-color: #333333;
  color: white;
  display: inline-block;
  padding: 0.3em 0.5em;
  border-radius: 5px;

  i {
    margin-left: 10px;
    padding: 5px 9px;
    background-color: #5f5f5f;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    @media only screen and (max-width: 600px) {
      margin-left: 5px;
      font-size: 1.1em;
    }
   }

   i:hover {
     background-color: #1a7cc9;
   }
   i.selected {
     background-color: #1a7cc9;
   }

   @media only screen and (max-width: 600px) {
     margin-bottom: 1em;
     padding: 0.3em 0.3em;
   }
}



.search {
  margin: 0.5em 0 0 0.5em;
  display: inline-block;

  .namesearch {
    width: 200px;
    @media only screen and (max-width: 600px) {
      border-bottom: 1px solid #ccc;
      width: 190px;
    }
  }

  .fa-times-circle {
    cursor: pointer;
    color: #1a7cc9;
    font-size: 1.5em;
    vertical-align: sub;
  }
  .fa-times-circle:hover { color: #2993e6; }

  @media only screen and (max-width: 600px) {
    margin: 0.5em 0;
    display: block;
    text-align: center;
  }
}

.headline {
  font-weight: 900;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1.5em;
  position: relative;
  line-height: 1em;

  .pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -3;
    max-width: 320px;

    img { width: 100%; }

    @media only screen and (max-width: 600px) {
      width: 70%;
      margin: auto;
    }
  }

  .judging {
    font-size: 1.2em;
    padding-top: 0.7em;
    line-height: 0.7em
  }
  .the { font-size: 0.6em; color: gray; }
  .judges { font-size: 2.3em; padding-top: 5px; }


  @media only screen and (max-width: 600px) {
    font-size: 10vw;
  }
}

.courtFilter {
  font-weight: 900;
  font-size: 1.2em;
  background-color: #1a7cc9;
  display: inline-block;
  padding: 0.5em 0;
  // border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: white;

  i { margin-left: 7px; }
  i.fa-caret-up { display: none; }

  @media only screen and (max-width: 330px) {
    font-size: 1em;
  }
}

.courtFilter:hover { background-color: #2993e6; }

.courtHolder {
  display: none;
  width: 100%;
  border: 1px solid #ccc;

  .courtbutton {

    // margin: 0.2em 0.2em 0.2em 0;
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
    padding: 5px;

    &.selected { background-color: #fff; }

    span { float: right; font-style: italic; }

    @media only screen and (max-width: 600px) {
      font-size: 0.9em;
    }
  }

  .courtbutton:hover { background-color: #fff; }

}

.numJudges {
  display: inline-block;
  font-style: italic;
}

.topsorts {
  display: inline-block; margin-top: 2em;

  @media only screen and (max-width: 600px) {
    display: block;
    text-align: center;
  }
}



.entryHolder {
  height: 200px;
  visibility: hidden;
  overflow-y: auto;
  width: 200px;
  margin-left: 59px;
  position: absolute;
  z-index: 10;

  .entry {
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
    padding: 5px;
  }

  .entry:hover { background-color: #ffffff; }
  @media only screen and (max-width: 600px) {
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 32px;
  }
}
